*{margin: 0; padding: 0;}
html, body{height: 100%; width: 100%;}
html, body { overflow-y: hidden; overflow-ｘ: hidden; } 
body {
  /*-webkit-touch-callout:none;  リンク長押しのポップアップ(※1)を無効化*/
  -webkit-user-select:none;   /*テキスト長押しの選択ボックス(※2)を無効化*/
}
canvas{display: block;}

/*
wrapperについて参考サイト
http://qiita.com/ShinyaOkazawa/items/9e662bf2121548f79d5f
*/
.wrapper{
  width: 100%;
  height: 100%;
	border-style:solid;
	border-color:#250d00;
}

#parent{
position:relative;
}

#myCanvas{
    background: #fef4f4;  /*桜色*/
    width: 100%;
    height: 90%;
    top: 0px;
    left: 0px;
    position: relative;
}

#beatCanvas{
    background: #250d00;  /*砂色#dcd3b2　黒檀 #250d00*/
    width: 100%;
    height:10%;
    bottom: 0px;
    left: 0px;
    /* position: absolute; */
    position: relative;
    overflow-x: hidden;
}

#myButtons{
    bottom: 20px;
    left: 20px;
    position: absolute;
}

#myButtons button{
    padding: 5px;
}

#div_tempo{
	top:30px;
	width:100%;
	position:absolute;
}

#tempo{
    left: 5px;
    position: relative;
    font-size: 30pt;
    font-weight: bolder;
    font-family: "sans-serif";
    color: #0f2350;  /*濃い藍#0f2350藍色　#165e83　山鳩色#767c6b　　　小豆色#96514d  琥珀色 #bf783a*/
	
}

#tempo_type{
	font-family: "sans-serif";
	font-weight: bolder;
	font-size: 22pt;
	margin-left:3pt;
	color: #0f2350;
	top:12px;
}

.btnText{
    border:3pt;
    border: solid;
    border-radius: 8px;
    border-width:2pt;
    font-size:20pt;
    font-weight: bolder;
    font-family: "sans-serif";
    color: #507ea4;  /*薄縹 うすはなだ#507ea4 */
     top:3px;
}

#tempoAdjup{
	left:53%;
	position:absolute;
}


#tempoAdjdown{
	left:70%;
	position:absolute;
}

#btnTAP{
	left:90%;
	position:absolute;
}

#divTempoList{
    top:50px;
    left: 8px;
    position: absolute;
}
select{
    font-size: 24pt;
}



/*
リンク長押しのポップアップを有効にしておく。
冒頭のbodyの -webkit-touch-callout:none; をコメントアウトした
*/
#setting{
    top:70px;
    left:15px;
	background:rgb(193 228 233 / 50%);  /* 白藍*/
    position: absolute;
    font-family: "sans-serif";
    color:#222233;
    font-size:11pt;
	border-style:solid;
	border-width:2px;
	border-color:#507ea4;
}

.radiorow{
    font-size:3.2vh;
    margin-left:2em;
}

.ButtonText{
     font-size:3vh;
    font-weight:bold;
    color:#29659d;
}
a:link { color: #29659d; }
a:visited { color: #29659d;  }
a:hover { color: #29659d }
a:active { color: #29659d }

#msgbox{
    color: #9f4b23;
    color:#752100;  /*赤銅色*/
    bottom: 3px;
    position: absolute;
    font-size:9pt;
    font-family:sans-serif;
    z-index:3;
    margin: 0 auto;
    text-align:center;
}

#QRsheet{
    overflow-wrap: anywhere;
    top:70px;
    left:15px;
	/*background:rgb(193 228 233 / 50%);   白藍*/
    background:rgb(244 243 190);  /* 白藍*/

    position: absolute;
    font-family: "sans-serif";
    color:#222233;
    font-size:2.9vh;
    user-select: text;
		border-style:solid;
	border-width:2px;
	border-color:#507ea4;
}

#current_setting{
    margin-left:1em;
}

#QR{
    margin-left:3em;
    padding: 2mm;
}

#URL{
    color:#752100
}

.cs_text{
    font-weight:bold;
    color:#250d00;
}

#exBeat{
    overflow-wrap: anywhere;
    top:60px;
    left:5%;
    width:90%;
	/*background:rgb(193 228 233 / 50%);   白藍*/
    background:rgb(176 223 210/75%);  /*   */
	
    position: absolute;
    font-family: "sans-serif";
    color:#222233;
    font-size:2.9vh;
    user-select: text;
		border-style:solid;
	border-width:2px;
	border-color:#507ea4;
}

.form1{
    margin-left:2em;
}
.form2{
    margin-left:3em;
}

#mode_change_alert{
	width:86%;
	background-color:#ffeeee;  /*   */
	top:170px;
    left:10%;
	height:20%;
	position: absolute;
    font-family: "sans-serif";
    color:#222288;
    font-size:11pt;
	border-style:solid;
	border-width: 1pt 2pt 2pt 1pt;
	border-color:#7f907e;
	border-style:solid;
	border-width:2px;
	border-color:#507ea4;
}

.btn{
	font-size:12pt;
	color:#222233;
    background: #fee;
    border-radius: 9999px;
	border-style:solid;
	border-color:#a75;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 250px;
    padding: 1px 7px;
    line-height: 1.5;
    text-decoration: none;
}

/*
.sheet_title{
	text-align:center;
	margin:0;
	background: #507ea4;
	border-radius-left: 9px;
	color:#fef4f4;
}
*/

.titlebar { display: table; width: 100%; background-color:#507ea4; color:#fef4f4; }
.sheet_title { display: table-cell; text-align: center; }
.close_button  { display: table-cell; text-align: rigth; }

#main_title_bar{
	text-align: center;
	font-family:sans-serif;
	font-size:14pt;
	color:#ffddee;
	background-color:#250d00;
}

